* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-width: 100vm;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E5E5E5;
}

.card {
    width: 370px;
    height: 502px;
    background: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    padding: 28px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin: 17px;
}

.card-tile {
  position: absolute;
  top: 18px;
  left: 0;
  background: #CE3535;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 9px 20px 7px;
}

.card-tile-new {
    position: absolute;
    top: 18px;
    left: 0;
    background: #222222;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 9px 20px 7px;
}

.card-image {
    background: #E5E5E5;
}

.card-image img {
  width: 100%;
  object-fit: cover;
    vertical-align: middle;
}
/* закончил на 10:47*/
.card-title {
    color: #222222;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.6;
    text-decoration: none;
    margin-top: 40px;
    width: 100%;
}

.card-title:hover {
    text-decoration: underline;
}

.card-price {
    width: 100%;
    text-align: right;
}

.card-price-sale {
    color: #5A5A5A;
    font-weight: 500;
    font-size: 20px;
    text-decoration: line-through;
    margin: 20px 0 10px;
    min-height: 24px;
}
.card-price-original {
    color: #CE3535;
    font-weight: 900;
    font-size: 24px;
}

.card-btn {
    background: #E20000;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.card-btn:hover {
    text-decoration: underline;

}
.card-btn-img {
    margin-right: 10px;

}